In [43]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest

In [44]:
df = pd.read_csv ("SIS_Faculty-List.csv")

In [45]:
df.head(284)

,ID,Name,Location,Grade,Title,Join\nDate,LWD,Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
0,LT9210743,Jim Hunter,London,FA,Faculty - Business,29-Aug-10,NaN,Full Time,Business,Abbas Houda,Masters,Master of Arts,International Affairs,American University of Beirut,"Bachelor of Science (Communications), Master o...",BUS2403 - Innovation & Entrepreneurship\nBUS20...,Business Administration,"10+ Years Small Business Ownership, 10+ Years ...",Industry & Teaching experience
1,LT9001784,Jose Nadal,London,FA,Faculty - Business,19-Aug-99,NaN,Full Time,Business,Abbas Houda,Masters,Master of Science,Business Info. Technology,University of Northumbria,"Bachelor of Arts (Finance), Certificate (Manag...",BUS4173 - Managerial Accounting II\nBUS4916 - ...,Business,years of teaching experience: 17 ...,Certification
2,LT9062955,Pierre Cornet,London,FA,Faculty - Business,08-Apr-07,NaN,Full Time,Business,Abbas Houda,Masters,Master of Business Administrat,Marketing,Griffith University,"Certificate (Educating/Teaching Adult), Associ...",BUS3903 - Contemporary Business\nBUS1303 - Mar...,Marketing and Strategic Management,Years of teaching experience: 15\nYears of pro...,Industry & Teaching experience
3,0,Sally Smith,London,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Abbas Houda,Ph.D,Ph.D in HRM/ Organizational pyschology,HRM/ Organizational Psychology,"The University of Swansea, UK","Bachelor(finance & Mgt), Masters(MBA & Masters...","HRM, Organizational behaviour, Strategic Mgt, ...",HRM,6 years professional experience + 6 years teac...,Researcher
4,0,Ned Shearer,London,Chair,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Tony Emmanuel,Ph.D,Ph.D in Economics and International Business,Economics and International Business,"New York University, USA","Bachelor( Economics), Masters( Economics and I...","Micro and Macroeconomics, Statistics,Introduct...",Economics and International Business,1 year professional experience + 24 years teac...,Researcher/Curriculum Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0,Cami Wiegand,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Economics and Business,Economics,"South East European University, Macedonia","Bachelor( Political Science), Masters( Europea...","intro to Economics, EU laws and Regulations, O...","Economics, policy and general business course",9 years professional experience+ 11 years teac...,Researcher
280,0,Alan Sheely,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Management Science,Marketing,"University of Economics, Krakow, Poland","Bachelor( Foreign Languages), Masters( America...","Marketing Management, Marketing Research, Cons...",Marketing,16 years professional( consulting) experience ...,Researcher/Curriculum Development
281,0,Allison Gall,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,HRM,"University of Mauritus, Mauritus","Bachelor( Economics), Masters( Industrial Rela...","HRM, SHRM, Performance and Reward Mgt, Researc...",HRM,14 years professional experience + 9 years tea...,Certification/Researcher
282,0,Myles Tena,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,Economic Sociology,"University of San Paulo, Brazil","Bachelor(Economics), Masters( Industrial Engin...",Economics and Management,"Financial Mgt, Project Mgt, Entrepreneurial Fi...",12 years professional experience + 11 years te...,Researcher
283,0,Dessie Burruss,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D in Public Policy and Administration,Management and Financial Mgt,"Virginia Commonwealth University, USA","Bachelor( Civil Engineering), Masters(Civil En...","Leadership, Organizational Design and Behaviou...",Finance and Management,16 years professional experience +11 year teac...,Researcher

In [46]:
# Looking at some of the properties of this data set by looking at the data types for each columns.
df.dtypes

ID                                                                                                                               object
Name                                                                                                                             object
Location                                                                                                                         object
Grade                                                                                                                            object
Title                                                                                                                            object
Join\nDate                                                                                                                       object
LWD                                                                                                                              object
Type                                                                                                                             object
Divison                                                                                                                          object
Reports To                                                                                                                       object
Highest\nQualification\nLevel                                                                                                    object
Highest Qualification                                                                                                            object
Major                                                                                                                            object
University                                                                                                                       object
All Qualifications from Profile                                                                                                  object
Courses Taught- Term 201510                                                                                                      object
MAJOR TEACHING FIELD                                                                                                             object
DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications    object
Criteria                                                                                                                         object
dtype: object

In [47]:
# Since the Data types shows all objects I run the describe method with 'O' to return all of objects.
# the describe method takes an include function that tells it whether to include all columns, Just numeric columns or just category columns.
df.describe(include = 'O')

,ID,Name,Location,Grade,Title,Join\nDate,LWD,Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
count,282,284,270,284,284,283,11,284,284,280,278,278,262,278,274,273,225,222,284
unique,243,282,16,2,12,143,2,1,1,15,18,59,115,214,262,269,143,208,8
top,0,Zikida Koudou,Bristol,FA,Faculty - Business,14-Aug-16,17-Dec-15,Full Time,Business,Ian Varley,Masters,Master of Business Administrat,Business Administration,University of Wollongong,Master of Business Administrat (Business Admin...,Faculty Trainee/MBA in Progress,General Business,More than 5 years work experience,Industry & Teaching experience
freq,40,2,49,282,252,41,6,284,284,33,157,73,45,8,7,2,19,14,231

In [48]:
# count is the count of all non null values 
# unique is the number of unique values
# top is the most frequntly occuring value
# freq the number of times the most frequenlty occuring values occurs

In [49]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()

# look at the # of missing points in all of the 19 columns
missing_values_count[0:19]

ID                                                                                                                                 2
Name                                                                                                                               0
Location                                                                                                                          14
Grade                                                                                                                              0
Title                                                                                                                              0
Join\nDate                                                                                                                         1
LWD                                                                                                                              273
Type                                                                                                                               0
Divison                                                                                                                            0
Reports To                                                                                                                         4
Highest\nQualification\nLevel                                                                                                      6
Highest Qualification                                                                                                              6
Major                                                                                                                             22
University                                                                                                                         6
All Qualifications from Profile                                                                                                   10
Courses Taught- Term 201510                                                                                                       11
MAJOR TEACHING FIELD                                                                                                              59
DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications     62
Criteria                                                                                                                           0
dtype: int64

In [50]:
# Attempting to clean the data by dropping LWD column as you can see there are 273 missing values.
data = df.drop(['LWD'], axis = 1)

In [51]:
# Confirming the LWD column has been dropped
data.head(284)

,ID,Name,Location,Grade,Title,Join\nDate,Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
0,LT9210743,Jim Hunter,London,FA,Faculty - Business,29-Aug-10,Full Time,Business,Abbas Houda,Masters,Master of Arts,International Affairs,American University of Beirut,"Bachelor of Science (Communications), Master o...",BUS2403 - Innovation & Entrepreneurship\nBUS20...,Business Administration,"10+ Years Small Business Ownership, 10+ Years ...",Industry & Teaching experience
1,LT9001784,Jose Nadal,London,FA,Faculty - Business,19-Aug-99,Full Time,Business,Abbas Houda,Masters,Master of Science,Business Info. Technology,University of Northumbria,"Bachelor of Arts (Finance), Certificate (Manag...",BUS4173 - Managerial Accounting II\nBUS4916 - ...,Business,years of teaching experience: 17 ...,Certification
2,LT9062955,Pierre Cornet,London,FA,Faculty - Business,08-Apr-07,Full Time,Business,Abbas Houda,Masters,Master of Business Administrat,Marketing,Griffith University,"Certificate (Educating/Teaching Adult), Associ...",BUS3903 - Contemporary Business\nBUS1303 - Mar...,Marketing and Strategic Management,Years of teaching experience: 15\nYears of pro...,Industry & Teaching experience
3,0,Sally Smith,London,FA,Faculty - Business,14-Aug-16,Full Time,Business,Abbas Houda,Ph.D,Ph.D in HRM/ Organizational pyschology,HRM/ Organizational Psychology,"The University of Swansea, UK","Bachelor(finance & Mgt), Masters(MBA & Masters...","HRM, Organizational behaviour, Strategic Mgt, ...",HRM,6 years professional experience + 6 years teac...,Researcher
4,0,Ned Shearer,London,Chair,Faculty - Business,14-Aug-16,Full Time,Business,Tony Emmanuel,Ph.D,Ph.D in Economics and International Business,Economics and International Business,"New York University, USA","Bachelor( Economics), Masters( Economics and I...","Micro and Macroeconomics, Statistics,Introduct...",Economics and International Business,1 year professional experience + 24 years teac...,Researcher/Curriculum Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0,Cami Wiegand,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Economics and Business,Economics,"South East European University, Macedonia","Bachelor( Political Science), Masters( Europea...","intro to Economics, EU laws and Regulations, O...","Economics, policy and general business course",9 years professional experience+ 11 years teac...,Researcher
280,0,Alan Sheely,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Management Science,Marketing,"University of Economics, Krakow, Poland","Bachelor( Foreign Languages), Masters( America...","Marketing Management, Marketing Research, Cons...",Marketing,16 years professional( consulting) experience ...,Researcher/Curriculum Development
281,0,Allison Gall,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,HRM,"University of Mauritus, Mauritus","Bachelor( Economics), Masters( Industrial Rela...","HRM, SHRM, Performance and Reward Mgt, Researc...",HRM,14 years professional experience + 9 years tea...,Certification/Researcher
282,0,Myles Tena,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,Economic Sociology,"University of San Paulo, Brazil","Bachelor(Economics), Masters( Industrial Engin...",Economics and Management,"Financial Mgt, Project Mgt, Entrepreneurial Fi...",12 years professional experience + 11 years te...,Researcher
283,0,Dessie Burruss,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D in Public Policy and Administration,Management and Financial Mgt,"Virginia Commonwealth University, USA","Bachelor( Civil Engineering), Masters(Civil En...","Leadership, Organizational Design and Behaviou...",Finance and Management,16 years professional experience +11 year teac...,Researcher

In [52]:
df.describe(include = 'O')

,ID,Name,Location,Grade,Title,Join\nDate,LWD,Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
count,282,284,270,284,284,283,11,284,284,280,278,278,262,278,274,273,225,222,284
unique,243,282,16,2,12,143,2,1,1,15,18,59,115,214,262,269,143,208,8
top,0,Zikida Koudou,Bristol,FA,Faculty - Business,14-Aug-16,17-Dec-15,Full Time,Business,Ian Varley,Masters,Master of Business Administrat,Business Administration,University of Wollongong,Master of Business Administrat (Business Admin...,Faculty Trainee/MBA in Progress,General Business,More than 5 years work experience,Industry & Teaching experience
freq,40,2,49,282,252,41,6,284,284,33,157,73,45,8,7,2,19,14,231

In [53]:
data.head(284)

,ID,Name,Location,Grade,Title,Join\nDate,Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
0,LT9210743,Jim Hunter,London,FA,Faculty - Business,29-Aug-10,Full Time,Business,Abbas Houda,Masters,Master of Arts,International Affairs,American University of Beirut,"Bachelor of Science (Communications), Master o...",BUS2403 - Innovation & Entrepreneurship\nBUS20...,Business Administration,"10+ Years Small Business Ownership, 10+ Years ...",Industry & Teaching experience
1,LT9001784,Jose Nadal,London,FA,Faculty - Business,19-Aug-99,Full Time,Business,Abbas Houda,Masters,Master of Science,Business Info. Technology,University of Northumbria,"Bachelor of Arts (Finance), Certificate (Manag...",BUS4173 - Managerial Accounting II\nBUS4916 - ...,Business,years of teaching experience: 17 ...,Certification
2,LT9062955,Pierre Cornet,London,FA,Faculty - Business,08-Apr-07,Full Time,Business,Abbas Houda,Masters,Master of Business Administrat,Marketing,Griffith University,"Certificate (Educating/Teaching Adult), Associ...",BUS3903 - Contemporary Business\nBUS1303 - Mar...,Marketing and Strategic Management,Years of teaching experience: 15\nYears of pro...,Industry & Teaching experience
3,0,Sally Smith,London,FA,Faculty - Business,14-Aug-16,Full Time,Business,Abbas Houda,Ph.D,Ph.D in HRM/ Organizational pyschology,HRM/ Organizational Psychology,"The University of Swansea, UK","Bachelor(finance & Mgt), Masters(MBA & Masters...","HRM, Organizational behaviour, Strategic Mgt, ...",HRM,6 years professional experience + 6 years teac...,Researcher
4,0,Ned Shearer,London,Chair,Faculty - Business,14-Aug-16,Full Time,Business,Tony Emmanuel,Ph.D,Ph.D in Economics and International Business,Economics and International Business,"New York University, USA","Bachelor( Economics), Masters( Economics and I...","Micro and Macroeconomics, Statistics,Introduct...",Economics and International Business,1 year professional experience + 24 years teac...,Researcher/Curriculum Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0,Cami Wiegand,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Economics and Business,Economics,"South East European University, Macedonia","Bachelor( Political Science), Masters( Europea...","intro to Economics, EU laws and Regulations, O...","Economics, policy and general business course",9 years professional experience+ 11 years teac...,Researcher
280,0,Alan Sheely,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Management Science,Marketing,"University of Economics, Krakow, Poland","Bachelor( Foreign Languages), Masters( America...","Marketing Management, Marketing Research, Cons...",Marketing,16 years professional( consulting) experience ...,Researcher/Curriculum Development
281,0,Allison Gall,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,HRM,"University of Mauritus, Mauritus","Bachelor( Economics), Masters( Industrial Rela...","HRM, SHRM, Performance and Reward Mgt, Researc...",HRM,14 years professional experience + 9 years tea...,Certification/Researcher
282,0,Myles Tena,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,Economic Sociology,"University of San Paulo, Brazil","Bachelor(Economics), Masters( Industrial Engin...",Economics and Management,"Financial Mgt, Project Mgt, Entrepreneurial Fi...",12 years professional experience + 11 years te...,Researcher
283,0,Dessie Burruss,Cambridge,FA,Faculty - Business,14-Aug-16,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D in Public Policy and Administration,Management and Financial Mgt,"Virginia Commonwealth University, USA","Bachelor( Civil Engineering), Masters(Civil En...","Leadership, Organizational Design and Behaviou...",Finance and Management,16 years professional experience +11 year teac...,Researcher

In [54]:
# Save the cleaned dataset
df.to_csv('cleaned_dataset.csv', index=False)